* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h1 {
    border: 1px solid purple;
    width: fit-content;
}
header {
    /* height: 15vh; */
    border: 2px solid red;
    font-family: henny penny;
    font-size: 14px;
    color: rgb(37, 11, 205);
    display: block;
    align-items: center;
    justify-content: center;
}

.landingPage {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/game-show-enter-name-image\ copy.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.landingPage div {
    margin: 0 auto;
    height: 50%;
    width: fit-content;
    /* border: 2px solid green; */
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    font-size: 20px;

}
label {
    align-self:flex-end;
}
#userName {
    height: 30px;
}
#playButton {
    height: 30px;
    background-color: navy;
    color: gold;
    font-size: 16px;
    font-family: henny penny;
}



.user {
    color: rgb(6, 221, 24);
}

main {
    height: 85vh;
    border: 2px solid purple;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.hidden {
    display: none;
}

h1, p, #question {
    text-align: center;
}

main div {
    /* border: 2px solid green; */

}
 .scoreboard {
    display: grid;
    align-items: center;
    font-size: 20px;
    font-family: ;
 }

 #answers{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    background-color: ;
    
 }

 .questions {
    border: 2px solid green;
    display: grid;
    justify-content: center;
    /* align-content: space-between; */
 }

 .correctAnswer {
    font-family: DynaPuff;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: green
 }

 .incorrectAnswer {
    font-family: DynaPuff;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: red;
 }

 #answers div {
    height: fit-content;
    justify-self: center;
    align-self: center;
    font-family: chalkboard;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}

 #answers div:hover {
    background-color: aqua;
    color: black;
}

#newGame {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    visibility: hidden;
}

 @media (min-width: 400px) {
    main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
 }