* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h1 {
    border: 1px solid purple;
    width: fit-content;
}
header {
    /* height: 15vh; */
    /* border: 2px solid red; */
    font-family: henny penny;
    font-size: 14px;
    color: rgb(37, 11, 205);
    display: block;
    align-items: center;
    justify-content: center;
}

.landingPage {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/game-show-enter-name-image\ copy.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.landingPage div {
    margin: 0 auto;
    height: 50%;
    width: fit-content;
    /* border: 2px solid green; */
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    font-size: 20px;

}
label {
    align-self:flex-end;
}
#userName {
    height: 30px;
}
#playButton {
    height: 30px;
    background-color: navy;
    color: gold;
    font-size: 16px;
    font-family: henny penny;
}



.user {
    color: rgb(6, 221, 24);
}

main {
    height: 75vh;
    /* border: 2px solid purple; */
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
  
    
}

.hidden {
    display: none;
}

h1, p, #question {
    text-align: center;
}


 .scoreboard {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-family: nabla;
    color: gold;
 }

 #answers{
    /* height: 30vh; */
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    background-color: ;
    
 }

 .questions {
    /* border: 2px solid green; */
    grid-column: 2;
    justify-content: center;
    /* height: 25vh; */
    background-image: url('./assets/red-game-show-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(14, 12, 1);
    
    font-family: chalkboard ;
    font-size: 20px;
    /* align-content: space-between; */
 }

 #question {
    overflow-wrap: break-word;
    width: 60%;
    margin: 35px auto;
    font-family: rampart one;
    color: gold;

 }

 .correctAnswer {
    font-family: DynaPuff;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: green
 }

 .incorrectAnswer {
    font-family: DynaPuff;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: red;
 }

 #answers div {
    height: fit-content;
    justify-self: center;
    align-self: center;
    font-family: chalkboard;
    font-size: 25px;
    border: 2px solid orangered;
    border-radius: 15px;
    background-color: rgba(154, 7, 7, 0.89);
    color: rgb(225, 232, 11);
}

 #answers div:hover {
    background-color: gold;
    color: black;
}

#newGame {
    grid-column: 2;
    grid-row: 2;
    width: 60%;
    height: 30%;
    justify-self: center;
    align-self: center;
    background-color: gold;
    color: red;
    font-family: silkscreen ;
    font-size: 18px;
    visibility: hidden;
}


 @media (min-width: 400px) {
    main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
 }