* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h1 {
    grid-column: 2;
    width: fit-content;
    margin: 0 auto;
    font-family: pricedown;
    color: red;
    font-size: 40px;
}
header {
   height: max-content;
    display: grid;
    grid-template-columns: .6fr 3fr .5fr;
    justify-content: space-evenly;
    background-image: url('./assets/game-show-enter-name-image\ copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}


.landingPage {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/game-show-enter-name-image\ copy.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.landingPage div {
    top: auto;
    left: auto;
    position: relative;
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    font-size: 25px;
    font-family: henny Penny;

}

.landingPage h2 {
    color: red;
    font-family: pricedown;
    font-size: 50px;
    margin: 20px auto;
}
label {
    align-self:flex-end;
}
#userName {
    height: 30px;
}
#playButton {
    height: 30px;
    background-color: navy;
    color: gold;
    font-size: 16px;
    font-family: henny penny;
}

.user {
    color:navy;
    font-family: shrikhand;
}

main {
    height: 75vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
    row-gap: 15px;
    column-gap: 5px;
}

.hidden {
    display: none;
}

h1, p, #question {
    text-align: center;
}


 .scoreboard {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-self: center;
    font-size: 27px;
    font-family: kalamaya;
    color: rgb(255, 0, 0);
    background-image: url('./assets/game-show-enter-name-image\ copy.png');
    background-position: center;
 }

 #answers{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    justify-content: space-around;
}

 .questions {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/red-game-show-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(14, 12, 1);
    font-family: chalkboard ;
    font-size: 20px;
 }

 #question {
    overflow-wrap: break-word;
    width: 60%;
    margin: auto;
    font-family: cabin sketch;
    color: gold;

 }

 .correctAnswer {
    font-family: DynaPuff;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: rgb(43, 203, 43);
 }

 .incorrectAnswer {
    font-family: DynaPuff;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 42px;
    color: red;
 }

 #answers div {
    height: fit-content;
    justify-self: center;
    align-self: center;
    font-family: cabin sketch;
    font-size: 25px;
    border: 2px solid navy;
    border-radius: 15px;
    background-color: rgba(191, 4, 4, 0.89);
    color: gold;
}

 #answers div:hover {
    background-color: gold;
    color: black;
}

#newGame {
    grid-column: 2;
    grid-row: 2;
    width: 60%;
    justify-self: center;
    align-self: center;
    background-color: gold;
    color: red;
    font-family: silkscreen ;
    font-size: 18px;
    visibility: hidden;
}

#newGame:hover {
    background-color: #3a9558;
    color: gold;
}

#reset {
    font-family: boldblaster;
    background-color: gold;
    color: navy;
    font-size: 16px;
}
#reset:hover {
    background-color: red;
    font-size: 20px;
}

.link {
    grid-column: 1;
    grid-row: 2;
    /* width: 100%; */
    height: 150px;
    background-image: url('./assets/game-show-bitmoji.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.link a {
    position: relative;
    top: -35px;
    left: -15px;
    font-size: 18px;
    font-family: a attack graffiti ;
    color: navy;
    background-color: gold;
}
a:hover {
    background-color: navy;
    color: gold;
    font-size: 24px;
}

 @media (min-width: 400px) {
    main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
 }